<div class="container">
    <legend>Add Invoice</legend>
    <form>
  
      <div class="mb-3">
        <label for="txtId" class="form-label">ID</label>
        <input type="number" name="id" [(ngModel)]="formdata.id" class="form-control" id="txtId" />
      </div>
  
      <div class="mb-3">
        <label for="txtSchoolId" class="form-label">School ID</label>
        <input type="number" name="schoolId" [(ngModel)]="formdata.schoolId" class="form-control" id="txtSchoolId" />
      </div>
  
      <div class="mb-3">
        <label for="txtInvoiceNumber" class="form-label">Invoice Number</label>
        <input type="text" name="invoiceNumber" [(ngModel)]="formdata.invoiceNumber" class="form-control" id="txtInvoiceNumber" />
      </div>
  
      <div class="mb-3">
        <label for="txtInvoiceItem" class="form-label">Invoice Item</label>
        <select name="products" [(ngModel)]="formdata.invoiceItem" multiple class="form-control" id="txtProducts">
            <option value="Zeraki Analytics">Zeraki Analytics</option>
            <option value="Zeraki Finance">Zeraki Finance</option>
            <option value="Zeraki Timetable">Zeraki Timetable</option>
          </select>
        </div>
  
      <div class="mb-3">
        <label for="txtCreationDate" class="form-label">Creation Date</label>
        <input type="date" name="creationDate" [(ngModel)]="formdata.creationDate" class="form-control" id="txtCreationDate" />
      </div>
      
      <div class="mb-3">
        <label for="txtDueDate" class="form-label">Due Date</label>
        <input type="date" name="dueDate" [(ngModel)]="formdata.dueDate" class="form-control" id="txtDueDate" />
      </div>
      
      <div class="mb-3">
        <label for="txtAmount" class="form-label">Amount</label>
        <input type="number" name="amount" [(ngModel)]="formdata.amount" class="form-control" id="txtAmount" />
      </div>
  
      <div class="mb-3">
        <label for="txtPaidAmount" class="form-label">Paid Amount</label>
        <input type="number" name="paidAmount" [(ngModel)]="formdata.paidAmount" class="form-control" id="txtPaidAmount" />
      </div>
  
      <div class="mb-3">
        <label for="txtBalance" class="form-label">Balance</label>
        <input type="number" name="balance" [(ngModel)]="formdata.balance" class="form-control" id="txtBalance" />
      </div>
  
      <div class="mb-3">
        <label for="txtStatus" class="form-label">Status</label>
        <select name="status" [(ngModel)]="formdata.status" class="form-control" id="txtStatus">
          <option value="Pending">Pending</option>
          <option value="Paid">Paid</option>
          <option value="Overdue">Overdue</option>
        </select>
      </div>
  
      <button type="button" (click)="addNewInvoice()" class="btn btn-primary">Add Invoice</button>
    </form>
  </div>
  